<footer class="d-flex">
  <div class="my-auto w-50"><h1 class="">I'm A Text</h1></div>
  <div class="my-auto w-50"><button type="button" class="btn btn-success btn-lg float-right" ng-click="makeRequest($event)" ng-disabled="form.$invalid">Make Request</button></div>
</footer>